@import 'colors';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway:wght@400;700&display=swap');

body {
	background-color: $dark;
	color: $light;
	font-family: 'Noto Serif', serif;
	font-size: 14px;
}

.wrapper {
	max-width: 1180px;
	width: 100%;
	margin-inline: auto;
	padding-inline: 20px;
}

.heading {
	font-family: Raleway, sans-serif;
	color: $accent;
	text-align: center;
	
	&.heading--h1 {
		font-size: 75px;
		color: $light;
	}

	&.heading--h2 {
		font-size: 30px;
	}
}