@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #003c3c;
  color: #f6f6f6;
  font-family: "Noto Serif", serif;
  font-size: 14px;
}

.wrapper {
  max-width: 1180px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

.heading {
  font-family: Raleway, sans-serif;
  color: #9B9BCF;
  text-align: center;
}
.heading.heading--h1 {
  font-size: 75px;
  color: #f6f6f6;
}
.heading.heading--h2 {
  font-size: 30px;
}

.message {
  font-size: 30px;
  color: red;
}

.header {
  width: 100%;
  padding-block: 25px;
  position: fixed;
  z-index: 1;
  background-color: rgba(17, 17, 17, 0.7);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #f6f6f6;
  text-decoration: none;
}
.logo span {
  color: #9B9BCF;
}

.nav {
  display: flex;
  gap: 20px;
}
.nav .nav__item {
  color: #f6f6f6;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.nav .nav__item:hover {
  color: #9B9BCF;
}

.hero {
  height: 100dvh;
  position: relative;
  overflow: hidden;
  background-color: rgba(17, 17, 17, 0.8);
}

.hero__bg {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.banner__desc {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

.banner__btn {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #111;
  background-color: #9B9BCF;
  padding: 20px 40px;
  border-radius: 40px;
  margin-top: 30px;
}
.banner__btn:hover {
  background-color: #f6f6f6;
}

.dances {
  padding-block: 100px;
  background-image: url("../assets/polygon-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dances__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dance {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #002828;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.dance:hover {
  background-color: #9B9BCF;
  color: #111;
}
.dance:hover a {
  color: #111;
}

.dance__video {
  height: 190px;
  width: 350px;
}

.dance__desc {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.dance__heading {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.dance__heading a {
  text-decoration: none;
  color: #f6f6f6;
}

.dance__choreographer {
  margin-top: 5px;
}

.hidden {
  display: none;
}

.add-dance {
  padding-block: 100px;
  background-color: #002828;
}

.add-dance__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-dance__form {
  max-width: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 20px;
  margin-top: 40px;
}

.add-dance__item {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  gap: 10px;
}

.add-dance__label {
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.add-dance__input {
  background-color: #003c3c;
  color: #f6f6f6;
  border: 2px solid #f6f6f6;
  border-radius: 5px;
  padding: 8px 14px;
}
.add-dance__input::-moz-placeholder {
  color: #c3c3c3;
}
.add-dance__input::placeholder {
  color: #c3c3c3;
}

.add-dance__btn {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 300px;
  width: 100%;
  background-color: #9B9BCF;
  color: #111;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  justify-self: center;
  align-self: flex-end;
  cursor: pointer;
}
.add-dance__btn:hover {
  background-color: #f6f6f6;
}

.details {
  height: calc(100dvh - 120px);
  padding-top: 200px;
  background-image: url("../assets/polygon-scatter-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.details__content {
  width: 100%;
  font-family: Raleway, sans-serif;
  display: grid;
  grid-template-columns: 55% 40%;
  row-gap: 30px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
  margin-inline: auto;
}

.details__video {
  width: 100%;
  height: 100%;
  grid-row: span 6;
}

.details__heading {
  font-size: 34px;
  font-weight: bold;
}

.details__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.details__subheading {
  font-size: 15px;
  color: #c3c3c3;
}

.details__desc {
  font-size: 17px;
}

.details__btn {
  width: 100%;
  font-weight: bold;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  background-color: #9B9BCF;
  padding: 10px 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}
.details__btn:hover {
  background-color: #f6f6f6;
}

.footer {
  background-color: #111;
  padding-block: 30px 20px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.footer__socials {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=style.css.map */