.add-dance {
	padding-block: 100px;
	background-color: $darker;
}

.add-dance__content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	max-width: 800px;
	width: 100%;
}

.add-dance__form {
	display: grid;
	grid-template-columns: repeat(2, auto);
	column-gap: 50px;
	row-gap: 20px;

	.form__btn {
		align-self: flex-end;
	}
}

.form__item {
	max-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	gap: 10px;
}

.form__label {
	font-family: Raleway, sans-serif;
	font-size: 16px;
}

.form__input {
	background-color: $dark;
	color: $light;
	border: 2px solid $gray;
	border-radius: 5px;
	padding: 8px 14px;

	&::placeholder {
		color: $gray;
	}
}

.form__btn {
	height: fit-content;
	max-width: 300px;
	width: 100%;
	background-color: $accent;
	color: $black;
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	padding: 15px;
	justify-self: center;
	cursor: pointer;

	&:hover {
		background-color: $light;
	}
}