@import '../colors';

.dance {
	width: fit-content;
	background-color: $darker;
	display: flex;
	flex-direction: column;
	border-radius: 0 0 10px 10px;
}

.dance__heading {
	font-size: 22px;
	margin-top: 15px;
	padding-left: 15px;
}

.dance__choreographer {
	margin-top: 5px;
	padding-left: 15px;
	padding-bottom: 15px;
}