.dances {
	padding-block: 100px;
	background-image: url("../assets/polygon-scatter-haikei.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.search {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-family: Raleway, sans-serif;
	margin-bottom: 50px;

	.search__label {
		font-size: 16px;
		font-weight: bold;
	}

	.search__input {
		width: 250px;
		background-color: $light;
		padding: 10px 15px;
		border: 2px solid $gray;
		border-radius: 50px;
	}

	.search__btn {
		font-weight: bold;
		background-color: $accent;
		padding: 10px 25px;
		border: 0;
		border-radius: 50px;
		cursor: pointer;

		&:hover {
			background-color: $light;
		}
	}
}

.dances__print {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.dance {
	width: fit-content;
	background-color: $darker;
	display: flex;
	flex-direction: column;
	border-radius: 0 0 10px 10px;
	box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.08);
	transition: background-color 500ms;

	&:hover {
		background-color: $accent;
		color: $black;

		a {
			color: $black;
		}
	}
}

.dance__video {
	height: 190px;
	width: 350px;
}

.dance__desc {
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.dance__heading {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;

	a {
		text-decoration: none;
		color: $light;
	}
}

.dance__choreographer {
	margin-top: 5px;
}
