.dances {
	padding-block: 100px;
	background-image: url("../assets/polygon-scatter-haikei.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.dances__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.dance {
	width: fit-content;
	background-color: $darker;
	display: flex;
	flex-direction: column;
	border-radius: 0 0 10px 10px;
	box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.08);

	&:hover {
		background-color: $accent;
		color: $black;

		a {
			color: $black;
		}
	}
}

.dance__video {
	height: 190px;
	width: 350px;
}

.dance__desc {
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.dance__heading {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;

	a {
		text-decoration: none;
		color: $light;
	}
}

.dance__choreographer {
	margin-top: 5px;
}
