@import '../colors';

.hidden {
	display: none;
}

.dances {
	margin-block: 50px;
	
	.heading {
		margin-bottom: 40px;
	}
}

.dances__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}

.dance {
	width: fit-content;
	background-color: $darker;
	display: flex;
	flex-direction: column;
	border-radius: 0 0 10px 10px;
	cursor: pointer;

	&:hover {
		background-color: $accent;
		color: $black;
	}
}

.dance__desc {
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.dance__heading {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.dance__choreographer {
	margin-top: 5px;
}
