
.favorites {
	min-height: calc(100dvh - 120px);
	padding-block: 140px 100px;
}

.photo__form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin-top: 60px;
	margin-inline: auto;
}