@import '../colors';

.header {
	width: 100%;
	padding-block: 25px;
	position: fixed;
	z-index: 1;
	background-color: rgba($black, 0.7);
}

.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 28px;
	font-weight: bold;
	color: $light;
	text-decoration: none;

	span {
		color: $accent;
	}
}

.nav {
	display: flex;
	gap: 20px;

	.nav__item {
		color: $light;
		text-decoration: none;
		font-family: 'Raleway', sans-serif;

		&:hover {
			color: $accent;
		}
	}
}